{% extends "bootstrap/base.html" %} {% block scripts %} {{ super() }}

<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var chart;
                $('#container').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE               
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second             
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(); // current time
                                    var y = 1
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },
                    title: {
                        text: 'Body Temperature Chart--1 second'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 100
                    },
                    yAxis: {
                        title: {
                            text: 'Body Temperature Chart--1 second'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature data',
                        data: (function () {
                            // generate an array of random data                             
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 36.75 + Math.random() / 10.0
                                });
                            }
                            return data;
                        })()
                    }]
                });
            });

        });               
    </script>
</head>
{% endblock %} {% block title %}{{ title_name }}{% endblock %} {% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.bmie.neu.edu.cn">BMIE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home/{{ name }}">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/group19">Group 19</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div class="page-header">
        <h2>Step number</h2>
    </div>
    <div style="height:496px;float:left;">
        <img src="{{ url_for('static', filename='images/fat.png') }}" height="496">
    </div>
    <div style="width:400px; height:496.333px; float:left; position:relative; text-align:center; line-height:496px">
        <h3>Your fat is 9.1%.</h3>
        <p style="font-size: large">Good job, keep doing!</p>
    </div>
</div>
{% endblock %}