{% extends "bootstrap/base.html" %} {% block scripts %} {{ super() }}

<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                setInterval(function() {
                    $.get("http://localhost:5000/data", function(data) {
                        console.log(data);
                        $("#dia").text(data['dia']);
                        $("#sys").text(data['sys']);
                    })
                }, 1000);
            });

        });               
    </script>
</head>
{% endblock %} {% block title %}{{ title_name }}{% endblock %} {% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.bmie.neu.edu.cn">BMIE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home/{{ name }}">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/group19">Group OpenSphygmomanometer</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div class="page-header">
        <h2>Hello, {{ name|capitalize }}!</h2>
    </div>
    <div>
        <div class="panel panel-default" style="width:500px; float:left;">
            <div class="panel-heading">Basic Information</div>
            <div>
                <table class="table" style="width: 480px; margin:0px 10px;">
                    <tr><td>Name: {{ name|capitalize }}</td><td>Medical History: N/A</td></tr>
                    <tr><td>Age: 20</td><td>Gender: male</td></tr>
                    <tr><td>Height: 170cm</td><td>Weight: 54kg</td></tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default" style="float:left; width:153px; height:153px; position: relative; left:30px;" id="step">
            <div class="panel-heading" style="text-align: center">
                <a href="/home/{{ name }}/step">Systolic pressure</a>
            </div>
            <div class="panel-body" style="text-align: center">
                <h1 id="sys">n/a</h1>
            </div>
        </div>
        <div class="panel panel-default" style="float:left; width:153px; height:153px; position: relative; left:60px;" id="fat">
            <div class="panel-heading" style="text-align: center">
                <a href="/home/{{ name }}/fat">Diastolic pressure</a>
            </div>
            <div class="panel-body" style="text-align: center">
                <h1 id="dia">n/a</h1>
            </div>
        </div>
        <div class="panel panel-default" style="float:left; width:245px; height:153px; position: relative; left:90px;" id="GPS">
            <div class="panel-heading" style="text-align: center">GPS</div>
            <div class="panel-body">
                <p>
                    <span style="font-size: large; ">
                        longitude :  N/A<br>latitude  :  N/A<br>altitude  :  N/A
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div style="clear:both">
        <div style="text-align: center" >
            <a href="/home/{{ name }}/temperature">Body Temperature Chart--1 second</a>
        </div>
        <div id="container" style="width:1000px;height:400px;margin:0 auto;"></div>
    </div>
</div>
{% endblock %}